# VENV is done with miniconda

#QA
# Flake8      -4.0.1
# Black       -25.1.0
# Pre-commit   -4.0.1
# PyTest
# pytest-cov
# Matplotlib
# Pandas
# Tensorflow
# scikit-learn
# gensim
# nltk
# Word2Vec
# SQLite3